/******************************** General **************************************/
* {
    font-family: 'Raleway', sans-serif; /* Police du site */
}

/* Variable CSS couleurs */
:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}
/* Couleur des icones FontAwesome */
.fa-solid {
    color: var(--main-color);
}
/* FlexBox du Body */
body {
    display: flex;
    justify-content: center;
   
}

/* Style du Main */
.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

/* Style des liens */
a {
    color: inherit;
    text-decoration: none;
}

/* Style des Titres H2 */
.section-title {
    margin: 0;
    font-size: 22px;
}
/* Style des Cards */
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-subtitle {
    font-size: 13px;
}

/* Stye des images des Cards */
.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

/* Etoile score, couleur du Main*/
.neutral-star {
    color: var(--main-bg-color)
}

.texte {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }


/****************************** Header *************************************/

/* Flexbox Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60%;
    align-self: stretch;
    }
    
    /* Flexbox Logo du site */
    .logo-du-site {
        width: 61.09px;
        height: 19px;
        display: flex;
        padding: 20px 50px 30px 0px;
        flex-direction: column;
        align-items: flex-start;
       
    }
    /* Flexbox de la Navigation */
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 68px;  
    }
    
    /* Flexbox des liens de navigation */
    .listes-liens-navigation {
    text-decoration: none;
    color: #000;
    
    list-style-type: none; /*Supression des puces*/
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 68px;
    }
    
    /* Ajout de la barre et de la couleur des liens au survol */
    .lien-hebergements :hover , .lien-activites :hover {

        color: var(--main-color); /* Nouvelle couleur du texte au survol */
        border-top: solid;
        padding-top: 20px; /* Décalage de la barre vers le haut*/
     
    }
  

/******************************* Section Formulaire de recherche ***************************/

.titre-principal {
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: normal;
  margin-bottom: -8px;
}

.section-formulaire-de-recherche {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    align-self: stretch; 
}

.formulaire {
display: flex;
width: 373px;
height: 46px;
margin: 35px 0px;

align-items: center;
gap: 24px;
border-radius: 15px;
border: 1px solid var(--Grey, #F2F2F2);
background: var(--White, #FFF);
}

.formulaire ::placeholder {
color: var(--Black, #000);
font-size: 17px;
font-style: normal;
font-weight: 700;
line-height: normal;

}

.formulaire input:focus {
    outline: none; /* Désactive la bordure de mise en surbrillance */
}

.champ-de-texte {
    
    border: none ; /* supprimer les bordures */
}


.button {
display: flex;
height: 47px;
padding: 15px 16px;
align-items: center;
gap: 10px;
    
border-radius: 0px 15px 15px 0px;
border: 1px solid var(--main-color);
background: var(--main-color);

color: var(--White, #FFF);
text-align: center;
font-size: 17px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.fa-location-dot {
 

border-radius: 15px 0px 0px 15px;
    padding: 16px 20px 16px 20px;
    background-color: #F2F2F2; 
}

/******************************** Filtres *************************************/
.section-formulaire-de-recherche {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 35px;
align-self: stretch;
}

.section-filtres {
display: flex;
align-items: center;
display: flex;
height: 50px;
align-items: center;
gap: 15px;

}

.h3 {
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.police-filtres {
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;    
}

.filtres {
display: flex;
align-items: center;
height: 40px;
padding: 4px 19px;
align-items: center;
gap: 10px;
border-radius: 25px;
border: 2px solid var(--grey-tint-2, #D9D9D9);
}

.filtres:hover  {
background: var(--blue-light, #DEEBFF);

}

.info {
display: flex;
gap: 10px;
margin: 17px 0px ;
}





/******************************* Hebergements And Populaires *******************/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    height: 625px;
 
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.card-heb img {
    height: 124px;
align-self: stretch;
border-radius: 20px 20px 0px 0px;
border: 5px solid var(--White, #FFF);

    object-fit: cover;
}

/******************************** Hebergements ***********************************/
.hebergements {
width: 70%;
display: flex;
padding: 30px;
flex-direction: column;
align-items: flex-start;
gap: 30px;
flex: 1 0 0;

}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards-section {
    display: flex;
    gap: 30px;

}


.card-heb {
    display:flex;
    height: 190px;
    width: 250px;
    padding-bottom: 15px;
    flex-direction: column;
    flex: 1 0 0; 
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10); 
}


.hebergements-cards img {
height: 110px;
object-fit: cover;
}

.card-content-hebergements {
    padding-left: 15px;
    padding-top: 4px;
}

.hebergements-cards .card-title {
    margin: 0px;   
}

.hebergements-cards .card-subtitle {
    margin: 0;
    padding: 8px 0px;
}


.afficher-plus {
    margin-top: 10px;
}




/******************************** Populaires ********************************/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .lien-hebergements :hover , .lien-activites :hover {

        color: var(--main-color); /* Nouvelle couleur du texte au survol */
        border-top: none;
        border-bottom: solid;
        padding-top: 20px; /* Décalage de la barre vers le haut*/

        
    /* ... */
}
.button{
    display: none;
}

.fa-magnifying-glass::before {
    background-color: #0065FC;
    padding: 15px 16px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
}